*{font-family: 'Saira', sans-serif;}
body{
    margin: 0;
    padding: 0;
}
body{
    background-image:url(img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
header{
    min-height: 100vh;
    width: 100%;
    background-image:url(img/cover-1440-en-2997c358.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.logo{
    position: absolute;
    padding:1% 1%;
    width:40vh;
    height: 10vh;
}
nav {
    margin: 0%;
    background-color: black;
    height: 15vh;
    margin-top: -2%;
}
nav div ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
}
nav div ul a{
    margin-top: 2.5%;
    padding: 4px 10px;
    color: white;
    text-decoration:none;
    font-weight: 600;
    font-size: 20px;
}
nav div ul a:hover{
    background-color: white;
    color: black;
    border-radius: 2px;
}
.textb{
    width:100%;
    color: white;
    position:static;
    text-align: center;
}
h1{
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    
   
}
p{
    color:black;
    font-size:17px;
    font-weight: 400;
    line-height: 26px;
    padding: 15px;
    text-align: center;
}
.t1{
    font-size: 50px;
    margin-top: 10%;
    text-shadow: 5px 6px 10px #000000;
    
    
}
.t2{
    color: black;
    font-weight: 300;
    line-height: 40px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
.b1{
    margin-bottom: 5%;
    font-size: 20px;
    text-decoration: none;
    color:black;
    background-color: rgb(81, 241, 67);
    padding: 5px 15px;
    border-radius: 2px;
    font-weight:600;
    padding-bottom: 0.5ch;
}
.b1:hover{
    background-color: black;
    color:white;}

.row{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    margin-top: 3em;
    margin-left: 3em;
    margin-right: 3em;
  
  }
.cimg{
    flex-basis:30%;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    margin-left: 1em;
    margin-right: 1em;
    height: 70vh;
    
}
.cimg:hover{
    box-shadow: 0 0 20px 10px rgba(255, 254, 254, 0.7);
    transform: scale(1.1);
}
.cimg img{
    width: 100%;
height: 70vh;}
.sec2{
    
   
    padding-bottom :5%;
    border-radius: 55px;
    margin-top: 5%;
    margin-top: 3em;
    margin-left: 3em;
    margin-right: 3em;
}
.layer{ 
    background:transparent;
    height:100%;
    width: 100%;
    position: absolute;
    top: 0;
    left:0;
    color: white;
    text-align: center;}
.cp1{
    margin-top: 58%;
    color:white;
    font-weight: 800;
}
.sec2{
    margin:0;
}
.review{
    background-color: bisque;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
}
.rowr1{
    background-color: rgb(43, 237, 72);
    width: 100%;
    height: 45vh;
    position: absolute;
    margin-top: 7%;
    display: flex;
    

}
.rc1{
    margin-top: 5%;
    display: flex;
    position: relative;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
    


}
.rc2{
    margin-top: 5%;
    display: flex;
    margin-right: 2%;
   

}
.rv1{
    width: 150px;
    height: 150px;
    border-radius: 75px;
    position: relative;
}
.rvp1{
    font-size: 20px;
    display:flex;
    flex-direction: column;
   
    margin-left: 2%;
    }
.rpm{
    text-align: left;
    padding: 0%;
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 2%;
    text-align: justify;
}
.star{
    display: flex;
    justify-content: flex-end;
    margin-top: -11%;
    

}
.form1{
    display: flex;
    justify-content: center;
    
}
input {
    color: rgb(0, 0, 0);
    background-color: rgb(228, 241, 240);
    border-radius: 10px;
    border-color: white;
    padding: 6px 15px;
    font-size: 20px;
   
 }
.form{
     margin-block-start: 5%;
     display: inline;
     margin-right: 15%;
     margin-left: 3%;
    }
.f1{
        height: 70vh;
        width: 70%;
        
        display: flex;
        flex-wrap: wrap;
        margin-left: 20%;
    }
select{
    color: rgb(0, 0, 0);
    background-color: rgb(228, 241, 240);
    border-radius: 10px;
    border-color: white;
    padding: 6px 60px;
    font-size: 20px;
    margin-left: 12%;
    
    }
.container{
    color: azure;
    font-size: 30px;
}
.footer{
    margin: 0;
    padding: 0;
    
}
.f-content{
    background-color: yellow;
    margin: 0%;
    padding-bottom: 2%;
}
.f-content h3{
    margin-top: 2%;
    text-align: center;
    padding-top: 3%;
}
.f-bottom p{
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: 0%;
    /* position: fixed; */
}
.f-bottom{
    background-color: #000000;
}
.f-content ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.f-content ul li{
    text-decoration: none;
    list-style: none;
    margin-right: 3%;
}
.social a{
    color: #000000;
}
.social i{
    font-size: 35px;
    transition: color.5s ease ;
}
.social a:hover i{
    
    color: white;
    transform: scale(1.5);
    position: static;
    }
option:hover{
    background-color: black;
    color: rgb(255, 255, 255);
}